/* Estilo global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #c2d7ec;
    margin: 0;
    padding: 0;
    color: #495057;
}

h1, h2, h3 {
    text-align: center;
    color: #007bff;
}

/* Navegación */
.nav {
    background-color: #6381A8; /* Nuevo color del nav */
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    display: inline-block;
    line-height: 1.5;
}

/* Estilo para el enlace activo y hover */
.nav a:hover,
.nav a.activo {                                                                         
    background-color: #4B688A; /* Nuevo color de selección acorde al nav */
    border-radius: 4px;
}

/* Dropdown para la sección "Cuenta" */
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%; /* Asegurar que ocupe el mismo alto que los demás enlaces */
}

/* Imagen en lugar de "Inicio" */
.nav img {
    height: 35px; /* Ajusta la altura de la imagen para que sea pequeña y uniforme */
    width: auto;  /* Mantiene la proporción correcta de la imagen */
    vertical-align: middle; /* Alinea verticalmente la imagen con el resto de los enlaces */
}
.dropdown .dropbtn {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    line-height: 1.5; /* Igual que los otros enlaces */
    display: inline-block;
    height: 100%; /* Mantiene el botón del mismo alto que los otros enlaces */
    vertical-align: middle; /* Centrado vertical */
}

/* Estilo inicial del menú */
.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Suave sombra */
    z-index: 1;
    right: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden; /* Para que no se pueda interactuar cuando está oculto */
    transform: translateY(-10px); /* Comienza ligeramente por encima */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s; /* Transición suave */
    border-radius: 8px; /* Bordes redondeados */
}

.dropdown.show .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Aparece suavemente desde arriba */
}

.dropdown-content p, .dropdown-content a {
    color: #495057;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Estilo del botón "Cerrar Sesión" */
.dropdown-content a.logout-btn {
    background-color: #dc3545; /* Color de fondo rojo */
    color: white;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.dropdown-content a.logout-btn:hover {
    background-color: #c82333; /* Cambio de color al pasar el mouse */
}
/* Formularios */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select, input[type="date"], input[type="time"], input[type="text"], button, input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}



button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Estilo de formularios */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: calc(100% - 22px);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
/* Formularios */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select, input[type="date"], input[type="time"], input[type="text"], button, input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}



button, .borrar-turno, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover, .borrar-turno, input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tablas */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

/* Estilos para los botones en las tablas */
td a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
    display: inline-block; /* Cambia a inline-block para que el padding se aplique correctamente */
    padding: 10px 8px; 
}

td a:hover {
    background-color: #0056b3;
    cursor: pointer;
}

td input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

td input[type="submit"]:hover {
    background-color: #218838;
}



/* Modal */
dialog {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog p {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/* Reglas específicas para la clase delete-btn */
.delete-btn, .borrar-turno {
    display: block;
    text-align: center;
    width: auto !important;      /* Asegura que el ancho sea el que defines aquí */
    padding: 10px 15px !important; /* Ajusta el padding solo para este botón */
    background-color: red;       /* Color de fondo solo para el botón eliminar */
    color: white;                /* Color del texto */
    border: none;                /* Sin borde */
    border-radius: 5px;          /* Bordes redondeados */
    cursor: pointer;             /* Cambia el cursor a pointer */
    transition: background-color 0.3s;
    font-size: 15px;
}

.delete-btn:hover, .borrar-turno:hover {
    background-color: darkred;   /* Color de fondo al pasar el ratón */
}

a{
    text-decoration: none;
}


.filtros-btn {
    display: block;
    text-align: center;
    width: auto !important;      /* Asegura que el ancho sea el que defines aquí */
    padding: 10px 15px !important; /* Ajusta el padding solo para este botón */
    background-color: #007bff;       /* Color de fondo solo para el botón eliminar */
    color: white;                /* Color del texto */
    border: none;                /* Sin borde */
    border-radius: 5px;          /* Bordes redondeados */
    cursor: pointer;             /* Cambia el cursor a pointer */
    transition: background-color 0.3s;
    font-size: 15px;
}
.filtros-btn:hover {
    background-color: #0056b3;   /* Color de fondo al pasar el ratón */
}

/* Estilos generales del formulario */
form {
    background-color: white;
    margin: 20px auto;
    width: 80%;
    max-width: 800px; /* Aumentar el ancho máximo para acomodar más inputs en una fila */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    flex-wrap: wrap; /* Permitir que los campos se envuelvan si es necesario */
    justify-content: space-between; /* Espaciar los elementos horizontalmente */
    gap: 5px; /* Espacio entre los inputs */
    transition: transform 0.3s ease-in-out; /* Transición para animaciones */
}

form:hover {
    transform: scale(1.05); /* Aumenta el tamaño del formulario al pasar el cursor */
}

form.active {
    transform: scale(1.05); /* Mantiene el tamaño agrandado */
}

form input,
form select,
form textarea,
form button:not(.buscar-btn),
form a:not(.filtros-btn) {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones para animaciones */
}


form input:not([name="agregar_turno"]):hover,
form select:hover,
form textarea:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input:focus, form select:focus, form textarea:focus {
    transform: scale(1.02);
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}

.noTurnos{
    text-align: center;
}


